* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
  font-size: 16px;
}
body {
  background-color: #454545;
  margin: 0;
}
  .section {
    padding: 5em 2em;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #645F5F;
    color: white;
    
  } 
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
    
  }
  
  li a:hover:not(.active) {
    background-color: #4545459a;
    transition: background-color 0.3s;
    color: #4FFFCA;
    border-radius: 6px;
  }

  
  .active {
    background-color: #454545;
    color: white;
  }
  
  .content {
    text-align: justify;
  }
  

  div {
    padding: 5em 5em;
    background-color: #222831;
    
  }

  .active {
    background-color: #222831;
    color: white;
  }
  h1{
    color: white;
    padding-left: 40px ;
    
  }

  .profile{
    color: white;
    padding-left: 40px;
    margin-top: 20px;

  }
  table{
    align-content: center;
    border-collapse: collapse;
    border: 1px solid white;
    margin-left: auto;
    margin-right: auto;
    width:1100px;
    color:white;
  }
  td {
	border: 1px solid white;
	padding: 8px;    
}

